<style>

#table1 th, #table1 td {
  padding:10px !important;
}
</style>
<center><h1>Booking Details</h1>

<%= @u.name%></td>
<table>
<tr><td><img src="http://www.iconhot.com/icon/png/rrze/720/flag-red-3.png" alt="Flag" width="30px" height="30px"/></td><td><%= @r.source.name %></td><td>--------->--------->---------<img src="http://media-cache-ak0.pinimg.com/736x/f2/e4/0a/f2e40a6d211201931ef8004bde693993.jpg" alt="bus image" width="100px" height="60px"/>--------->--------->---------</td><td><%= @r.destination.name %></td><td><img src="http://findicons.com/files/icons/977/rrze/720/flag_green.png" alt="Flag" width="30px" height="30px"/></td></tr>
<tr><td></td><td><%= @r.st %></td><td align="center"><%= jdate %></td><td><%= @r.et %></td><td></td></tr>
</table>
</center>
