<style>

#table1 th, #table1 td {
  padding: "5px" !important;
  text-align: center;
}
</style>
<%= form_for(@passenger, url: {controller:"passengers", action: "create"}, format: :csv, html: { method: :post}) do |f| %>
<center><h1><img src="http://www.cacheglobalservicescompany.com.co/images/931.png" />Enter Passenger Details</h1>
<table id="table1">
<tr><th>S. No</th><th>Name</th><th>Age</th></tr>
<% index = 1 %>
<% while(index <= tcount.to_f) %>
<tr><td><%= index %></td><td><input type="text" name="name<%=index%>" /></td><td><input type="number" min="1" max="99" value="18" name="age<%= index %>" /></td></tr>
<% 
index+=1
end %>
<input type="hidden" name="date" value="<%= jdate%>" />
<input type="hidden" name="book" value="<%= routeid%>" />
<input type="hidden" name="count" value="<%= tcount%>"
<tr><td colspan="3" align="center"> <%= f.submit "Book Ticket", class: "btn btn-primary" %></td></tr>
<% end %>
</table>
</center>