<style>

#table1 th, #table1 td {
  padding: 7px !important;
  text-align: center;
}
</style>
<center><h1>Booking Details</h1>

<h2>Successfully booked your Ticket <%=@u.name%></h2>
<table>
<tr><td><img src="/assets/red.png" alt="Flag" width="30px" height="30px"/></td><td><%= @r.source.name %></td><td>--------->--------->---------<img src="/assets/bus.png" alt="bus image" width="100px" height="60px"/>--------->--------->---------</td><td><%= @r.destination.name %></td><td><img src="/assets/green.png" alt="Flag" width="30px" height="30px"/></td></tr>
<tr><td></td><td><%= @r.st %></td><td align="center"><%= jdate %></td><td><%= @r.et %></td><td></td></tr>
</table>
<h4>Number of Tickets = <%=@t.count %> | Total Amount = <%=@t.fare %></h4></br>
<h4>Passenger Details</h4>
<table id="table1" border="1">
<tr><th>S.NO</th><th>Name</th><th>Age</th></tr>
<% index=1 
    while(index <= @t.count.to_f)
   	a= index.to_s
   	%>
    <tr><td><%=index %></td><td><%= params["name" + a] %></td><td><%= params["age" + a] %></td></tr>
   	<%
   	index+=1
   	end%>
</table>
</center>
