<style>

#table1 th, #table1 td {
  padding:10px !important;
}
</style>
<center><h1>Booked Tickets</h1>

<% @t= Ticket.where(:user_id => current_user) || []
   sno = 1 %>
<% if @t.blank? then %>
   <p> No Tickets booked to display </p>
<% else 
<table border="1" id="table1">
<tr><th>S.No</th><th>Ticket Number</th><th>DOB</th><th>DOJ</th><th>Source</th><th>Destination</th><th>Departure</th><th>Arrival</th><th>No.of.Tickets</th><th>Total Fare</th></tr>
 @t.each do |t| %>
<tr><td><%= sno %></td><td><a href="ticket_details?ticketid=<%= t.id %>" target="_blank" >FBS#<%= t.id %></a></td><td><%= t.DOB %></td><td><%= t.journey.date %></td><td><%= t.route.source.name %></td><td><%= t.route.destination.name %></td><td><%= t.route.st %></td><td><%= t.route.et %></td><td><%= t.count %></td><td><%= t.fare %></td></tr>
<% sno+=1 %>
<% end %>
</table>
</center>
<% end %>
