
<style>

#table1 th, #table1 td {
  padding:10px !important;
}
</style>
<center><h3>Passenger Details</h3>
<%= form_for(@passenger, url: {controller:"booked_tickets", action: "destroy"}, format: :csv, html: { method: :post}) do |f| %>
<table id="table1">
<tr><th>S.No</th><th>Name</th><th>Age</th><th>status</th><th>Fare</th><th>Select</th></tr>
<% sno=1
@passenger = Passenger.where(:ticket_id => ticketid) 
@passenger.each do |p| %>
<% if p.status? %>
	<tr><td><%= sno %></td><td><%= p.name %> </td><td><%= p.age %></td><td>Confirm</td><td><%= p.ticket.route.fare %></td><td><input type="checkbox" name="pass<%=sno%>" value="<%=p.id%>"></td></tr>
<% else %>
<tr><td><%= sno %></td><td><%= p.name %> </td><td><%= p.age %></td><td>cancelled</td><td>100</td><td><input type="checkbox" name="pass<%=sno%>" value="<%=p.id%>" disabled></td></tr>
<% end %>
<% sno+=1 %>
<% end %>
<input type="hidden" name="pass_count" value="<%=sno%>" />
<input type="hidden" name="ticket_id" value="<%= params["ticketid"] %>" />
<tr><td colspan="4"><%= f.submit "Cancel Ticket", class: "btn btn-primary" %></td></tr>
</table>
<% end %>
</center>