<head>
<script type="text/javascript">
   $(document).ready(function()
   {  
        $('#place_sid').change(function()
    {
      $('#place_did').html($('#place_sid').html());
      $("#place_did option[value='"+ $('#place_sid option:selected').val() +"']").remove();
    });
});
        function restrictDate() {
            var mindate = new Date().toISOString().split('T')[0];
      document.getElementsByName("date")[0].setAttribute('min', mindate);
      var maxdate = new Date();
      maxdate.setDate(maxdate.getDate() + 60);
      var maxdate = maxdate.toISOString().split('T')[0];
      document.getElementsByName("date")[0].setAttribute('max', maxdate);
      var e = document.getElementById('place_sid');
        }
        
       window.onload = restrictDate;

       function validateform()
       {

        if ($('#place_sid option:selected').val() != "" && $('#place_did option:selected').val() != "" && $('#date').val() != "")
        {
            return true;
        }
        else
        {
            alert("Please Fill all the fields");
            return false;
        }
       }
   
</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body onload="restrictData()" >
  <% if logged_in? %>
  <center>
    <h1>Travels Booking</h1>
    <%= form_for(@route, url: {controller:"routes", action: "search"}, format: :csv, html: { :onsubmit =>" return validateform()"}) do |f| %>
    <table>
      <tr>
        <td><label> Source : </label></td>
        <td><%= collection_select(:place, :sid, Place.all, :id, :name, :prompt => true, :style => "width: 50%"  )%></td>
      </tr>
      <tr>
        <td><label> Destination : </label></td>
        <td><%= collection_select(:place, :did, Place.all, :id, :name, :prompt => true, :style => "width: 50%" ) %></td>
      </tr>
      <tr>
        <td><label> Journey Date : </label></td>
        <td><input type="date" name="date" id="date" ></td>
      </tr>
      <tr>
        <td rowspan="2"><%= f.submit "find", class: "btn btn-primary" %></td>
      </tr>
    </table>
    <% end %>
    </center>

  <% else %>
     <div class="center jumbotron"\>
      <h1>Welcome to FreshBus Service</h1>
      <%= link_to "Sign up now!", '/users/new', class: "btn btn-lg btn-primary" %>
      <%= link_to "Log in", '/sessions/new', class: "btn btn-lg btn-primary" %>
     </div>
  <%end %>
</body>